# Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

# PART 1:

In [14]:
conda install -y lxml

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.12

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [6]:
import requests
import lxml.html as lh
import pandas as pd

In [7]:
wikipedia_link='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wikipedia_page=requests.get(wikipedia_link)
wikipedia_page = lh.fromstring(wikipedia_page.content)
tr_elements = wikipedia_page.xpath('//tr')
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [8]:
tr_elements = wikipedia_page.xpath('//tr')

#Create empty list
col=[]

i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print(name)
    col.append((name,[]))

Postcode
Borough
Neighbourhood

In [9]:
col

[('Postcode', []), ('Borough', []), ('Neighbourhood\n', [])]

In [10]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

[len(C) for (title,C) in col]

[288, 288, 288]

In [11]:
# Transforming the dictionary on a dataframe
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

# Cleaning break lines
df = df.replace(r'\n','', regex=True)
df.columns = ['Postcode', 'Borough', 'Neighbourhood']
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [12]:
#Removing Not assigned zip codes and fixing df index
df.drop(df[df['Borough'] == 'Not assigned'].index, inplace=True)
df.index = range(len(df))
df

    Postcode           Borough             Neighbourhood
0        M3A        North York                 Parkwoods
1        M4A        North York          Victoria Village
2        M5A  Downtown Toronto              Harbourfront
3        M5A  Downtown Toronto               Regent Park
4        M6A        North York          Lawrence Heights
..       ...               ...                       ...
206      M8Z         Etobicoke  Kingsway Park South West
207      M8Z         Etobicoke                 Mimico NW
208      M8Z         Etobicoke        The Queensway West
209      M8Z         Etobicoke     Royal York South West
210      M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

In [13]:
df.shape

(211, 3)

# PART 2:

In [16]:
!conda install -c conda-forge geocoder --yes
import geocoder
import pandas as pd
import numpy as np

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.12

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - geocoder


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    future-0.17.1              |        py36_1000         701 KB  conda-forge
    certifi-2019.9.11          |           py36_0         147 KB  conda-forge
    click-7.0                  |             py_0          61 KB  conda-forge
    ratelim-0.1.6              |             py_2           6 KB  conda-forge
    geocoder-1.38.1            |             py_1          53 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         968 KB

The following NEW packages will be INSTALLED:

    future:   0.17.1-py36_1000  conda-forge
    geocoder: 1.38.1-py_1       conda-forge
    ratelim:  0.1.6-py_2        conda-forge

The following packages will be UPDATED:

    certifi:  2019.9.11-py36_0              --> 2019.9.11-py36_0  conda-forge
    click:    6.7-py37_0                    --> 7.0-py_0          conda-forge

The following packages will be DOWNGRADED:

    openssl:  1.1.1d-h7b6447c_2             --> 1.1.1c-h516909a_0 conda-forge


Downloading and Extracting Packages
future-0.17.1        | 701 KB    | ##################################### | 100%
certifi-2019.9.11    | 147 KB    | ##################################### | 100%
click-7.0            | 61 KB     | ##################################### | 100%
ratelim-0.1.6        | 6 KB      | ##################################### | 100%
geocoder-1.38.1      | 53 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [32]:
df.head()

  Postcode           Borough     Neighbourhood Latitude Longitude
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [45]:
def get_latlng(post_code):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(post_code))
        lat_lng_coords = g.latlng
    return lat_lng_coords
    
get_latlng('M4G')

[43.70949500000006, -79.36398897099997]

In [47]:
post_codes = df['Postcode']    
coords = [ get_latlng(post_code) for post_code in post_codes.tolist() ]
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']
df.head()

  Postcode           Borough     Neighbourhood   Latitude  Longitude
0      M3A        North York         Parkwoods  43.752420 -79.329242
1      M4A        North York  Victoria Village  43.730600 -79.313265
2      M5A  Downtown Toronto      Harbourfront  43.650295 -79.359166
3      M5A  Downtown Toronto       Regent Park  43.650295 -79.359166
4      M6A        North York  Lawrence Heights  43.723270 -79.451286

In [48]:
df

    Postcode           Borough             Neighbourhood   Latitude  Longitude
0        M3A        North York                 Parkwoods  43.752420 -79.329242
1        M4A        North York          Victoria Village  43.730600 -79.313265
2        M5A  Downtown Toronto              Harbourfront  43.650295 -79.359166
3        M5A  Downtown Toronto               Regent Park  43.650295 -79.359166
4        M6A        North York          Lawrence Heights  43.723270 -79.451286
..       ...               ...                       ...        ...        ...
206      M8Z         Etobicoke  Kingsway Park South West  43.624630 -79.526950
207      M8Z         Etobicoke                 Mimico NW  43.624630 -79.526950
208      M8Z         Etobicoke        The Queensway West  43.624630 -79.526950
209      M8Z         Etobicoke     Royal York South West  43.624630 -79.526950
210      M8Z         Etobicoke            South of Bloor  43.624630 -79.526950

[211 rows x 5 columns]